* {
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
}

body {
    background-color: #002030;
    color: #ffffff;
}

.title {
    position: absolute;
    width: 150px;
    z-index: 99;
    margin-left: 10px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

h1 a {
    cursor: pointer;
}

.part2 {
    color: #00ffff;
}

.menuBox {
    background-color: #001020;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px 10px 20px 10px;
    font-size: 20px;
}

.menu {
    display: flex;
    justify-content: flex-end;
}

.menuItem {
    display: inline-block;
    list-style: none;
    padding-right: 10px;
}

.btns {
    display: flex;
    gap: 20px;
    padding: 50px 0px 0px 50px;
}

.new {
    border: 2px solid #ffffff;
    padding: 10px 10px 10px 10px;
    color: #ffffff;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.notes {
    border: 2px solid #002030;
    padding: 10px 10px 10px 10px;
    color: #00ffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-underline-offset: 8px;
    text-decoration: underline;
}

.last {
    padding: 50px 50px 50px 50px;
}

.create {
    padding: 50px 50px 50px 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.newNotes {
    border: 2px solid #ffffff;
    border-radius: 15px;
    padding: 20px 20px 20px 20px;
    width: 50%;
}

form h2 {
    text-align: center;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.textNotes {
    width: 100%;
    height: 40px;
    background: none;
    border: none;
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
    outline: none;
}

.textNotes::placeholder {
    color: #ffffff;
}

h2 {
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

.save {
    padding: 5px 5px 5px 5px;
    border: 2px solid #ffffff;
    border-radius: 15px;
    color: #ffffff;
    width: 200px;
    background: none;
    cursor: pointer;
}

textarea {
    width: 95%;
    padding: 20px 20px 20px 20px;
    height: 300px;
    outline: none;
    border: 2px solid #ffffff;
    border-radius: 15px;
    color: #ffffff;
    background: none;
    resize: vertical;
}

button {
    color: #ffffff;
    background: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    cursor: pointer;
}

.rowTitle {
    margin: 20px 0px 20px 0px;
    border: 2px solid #ffffff;
    padding: 20px 20px 20px 20px;
    font-size: 25px;
}